@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Ubuntu&family=Rubik&family=Paytone+One&family=Libre+Franklin:wght@400;900&family=Roboto+Slab&family=Titan+One&display=swap");

html,
body {
    height: 100%;
    margin: 0;
}
.leaflet-container {
    height: 600px;
    margin: 0 auto;
    width: 920px;
    max-width: 100%;
    max-height: 100%;
    @media screen and (max-width: 768px) {
        width: 100%;
        height: 520px;
    }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
}
.leaflet-popup {
    .wrapperx {
        display: block;
        .inline-left {
            display: inline-block;
            width: 40%;
            vertical-align: middle;
        }
        .inline-right {
            display: inline-block;
            width: 50%;
            vertical-align: middle;
        }
    }
    div {
    }
    h3 {
        // text-align: center;
        text-align: center;
        margin-top: 0;
        font-size: 1rem;

        margin-bottom: 0px;
    }
    .kotak {
        background: white;
        width: fit-content;
        padding: 4px 8px;
        text-align: center;
        margin: 4px auto;
        border-radius: 8px;
        font-size: 1rem;
    }
    .red-small {
        display: inline-block;
    }
    .text-center {
        text-align: center;
    }
    .bungkus {
        color: #000;

        // color: #942431;
        border-radius: 8px;
        // background: #fe6a69;
        background: linear-gradient(-45deg, #ccc, rgba(#ccc, 0.5));
        padding: 8px;
    }

    .dki {
        text-align: center;
        margin-bottom: 4px;
    }
    .pmudara {
        // color: #343434;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: bold;
    }
}
